<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Campaigns</title>
    

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-analytics.js"></script>
  </head>

<body>

  <nav class="navbar navbar-inverse  navbar-static-top example-8">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar8" aria-label="Toggle navigation" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand text-hide" href="#">Brand Text
        </a>
      </div>
      <div id="navbar8" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class=""><a href="/campaigns">CAMPAIGNS</a></li>
          <li class=""><a href="/campaigns2">APPROVED_CAMPAIGNS</a></li>
          <li class=""><a href="/sessionLogout">LOGOUT</a></li>
          
          
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>


<div id="done" class="container">
    
</div>


<script>

var firebaseConfig = {
    apiKey: "AIzaSyBeKWzFNXwzmWrSeMXjVaSX_6HfYNiIXxU",
    authDomain: "thegirlfriendbox-a277f.firebaseapp.com",
    databaseURL: "https://thegirlfriendbox-a277f.firebaseio.com",
    projectId: "thegirlfriendbox-a277f",
    storageBucket: "thegirlfriendbox-a277f.appspot.com",
    messagingSenderId: "28678379221",
    appId: "1:28678379221:web:21f5b5d8aa046992ac745c",
    measurementId: "G-6YK6D6YNHZ"
  };

  firebase.initializeApp(firebaseConfig);

var data2="";
var count=0;
//console.log(data2);
var rootRef = firebase.database().ref();
  var urlRef = rootRef.child('Proposals/');
  urlRef.once("value", function(snapshot) {

    data = snapshot.val();
    cat=Object.keys(data);

    snapshot.forEach(function(child) {
      //console.log(child.key);
      
      if(localStorage.getItem("Uid")==child.val().receiverId)
      {
        count+=1;var client=child.val().receiverId;var admin = child.val().senderId;var propid = child.key;
        data2 +=  '<table id="table1" class="table"> <thead> <tr class="center"> <th scope="col">SenderID</th>&emsp; <th scope="col">Proposal ID</th>&emsp;  <th scope="col">Timestamp</th> </tr> </thead> <tbody >';
        data2+='<tr> <td>'+admin+ '</td>&emsp; <td>'+propid+ '</td> &emsp; &emsp; <td >'+child.val().timestamp+ '</td> <td>  <input class="btn btn-primary" type="button" value="Open Curtain" data-toggle="collapse" data-target="#collapseExample'+count+'"></input> </td> </tr>';
        data2 +='</table>';
        data2+='<div class="collapse" id="collapseExample'+count+'">';
        data2 +='<table id="'+propid+'" style="border: 1px solid black;" class="table table-hover table-stripped"> <thead> <tr> <th scope="col">Name</th> <th scope="col">Followers</th> <th scope="col">Engagement_Rate</th> <th scope="col">Keys</th> <th scope="col">Select</th> </tr> </thead> <tbody> <div style="text-align: center;" class="form-group"> <button class="btn-lg btn btn-success" onclick="adder(\''+admin+'\',\''+client+'\',\''+propid+'\')">Send for Approval</button> </div>';
         
        //console.log(child.val().senderId);
      }

      
    child.forEach(function(child2) {
      
      //console.log(child2.val());
      
    child2.forEach(function(child3) {
      
       
      //console.log(Object.keys(child.val()));
      if(localStorage.getItem("Uid")==child.val().receiverId)
      {
        
        var keyz = child3.key;
        
        var e = child3.val().name;

        var f = child3.val().followers;

        var l = child3.val().engagement_rate;

        //data2 += '<div> Email: '+e+'</div>'
        //data2 += '<div> FName: '+f+" "+l+'</div><br>'
        data2+=' <tr> <td>'+e+ '</td> <td>'+f+ '</td> <td >'+l+ '</td> <td >'+keyz+ '</td><td> <input type="checkbox" name="'+propid+'"> </td> </tr>';
        //console.log(child3.val().email);
        //console.log(child3.val().firstName);
        //console.log(child3.val().lastName);
      }
      //console.log(localStorage.getItem("Uid"));
      //console.log(data2);
      
      
    });
    
  });data2+='</table><hr></div>';
});
$("#done").append(data2);//console.log(data2);
});



var admin=client=propid="";
var dataz="",carez=[],cell1="",cell2="",cell3="",cell4="";
var darez=[];

function adder(admin,client,propid)
{
    //console.log(admin,client,propid);
    var newPostKey = firebase.database().ref().child('campaigns').push().key;
    var dt = new Date();
    var utcDate = dt.toUTCString();

       firebase.database().ref('campaigns/'+ newPostKey).update({  AdminID:admin,
         ClientID: client, ProposalID: propid, Status: "Pending", Timestamp: utcDate}); 



          var table1 = document.getElementById(propid),
                    checkboxes = document.getElementsByName(propid);

          var len = table1.rows.length-1;
          
                    for(var i = 0; i < len; i++)
                    {
                      console.log(checkboxes[i].checked);
                      
                     
                      if(checkboxes[i].checked)
                        {
                            console.log(table1.rows[i+1].cells[3].innerHTML);
                            
                            //cell1 = table1.rows[i+1].cells[0].innerHTML;
                            //cell2 = table1.rows[i+1].cells[1].innerHTML;
                            //cell3 = table1.rows[i+1].cells[2].innerHTML;
                            cell4 = table1.rows[i+1].cells[3].innerHTML;
                          
                            carez.push([cell4]);
                            

                        }
                    }console.table(carez);


                        for (let i = 0; i < carez.length; i++) {
                            //console.log(carez[1][0]);
                            firebase.database().ref('campaigns/'+newPostKey+"/data").update({ [i] : carez[i][0]});
                            
                        }
                        location.reload(); 
                                      
}


</script>
</body>
</html>