<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>import</title>
    

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  

    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-analytics.js"></script>
  </head>

  <body>
    
<nav class="navbar navbar-inverse  navbar-static-top example-8">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar8" aria-label="Toggle navigation" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand text-hide" href="#">Brand Text
      </a>
    </div>
    <div id="navbar8" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class=""><a href="/signup">ADMINS(+)</a></li>
        <li class=""><a href="/signup2">CLIENTS(+)</a></li>
        <li class=""><a href="/proposal">PROPOSALS</a></li>
        <li class=""><a href="/request">REQUESTS</a></li>
        <li class=""><a href="/sessionLogout">LOGOUT</a></li>
        
        
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
  <!--/.container-fluid -->
</nav>


<div class="container modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-md">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="text-align: center;" class="modal-title" id="last">Members</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        
      </div>
      
      <div class="modal-body">
        <form class="col" id='addQuantity'>
          
          
          <div >
                
          </div>
          
          <div class="form-group">
                <label for="uname">Clients:&emsp;</label>
                <select id="list" style="padding: 15px;">
                  
                </select> 
          </div>
          
          <!--div class="form-group">
                <label for="uname">Client ID:&emsp;&emsp;&nbsp;</label>
                <input type="text" class="form" id="stock" placeholder="ID" name="stock" required>  
          </div-->
          
          <div style="text-align: center;" class="form-group">
          <button class="btn-lg btn btn-success" onclick="Alert()" >Send</button>
          </div>
        
    
    </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div>




    <div id='buttondiv'>
      <input type='file' id='inputfile' />
      <button id='viewfile' >Import file</button>
      <button id='downfile'>Download file</button>
      <br><br>
    </div>

    <!--div class="container" id="container">
        <table class="gridtable" id="tableMain">
            
            <tbody>

            </tbody>
          </table>
      </div-->


      <h1 id="base" style="text-align:center">CSV FILE</h1>
    <div id="radioscontainer">
  </div>

  <div style="padding-bottom: 40px;" class="text-center">
  <button onclick="adder()" class="btn btn-primary btn-lg" type="button" id='addfile'>ADD</button>
</div>

<h2 style="text-align: center;">Selected Items</h2>
<div class="tab">
  <table class="table" id="table2" border="1">
      <tr>
        <th>ID</th>
          <th>Name</th>
          <th>Followers</th>
          <th>Engagement rate</th>
          <th>Email</th>
          <th>Select</th>
      </tr>
  </table>   
</div>

<div style="padding-bottom: 40px;" class="text-center">
<button onclick="remove()" class="btn btn-primary btn-lg" type="button" id='remfile'>Remove</button>
<button onclick="sender()" data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-lg" type="button" id='sendfile'>SEND</button>
</div>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>

 var firebaseConfig = {
    apiKey: "AIzaSyBeKWzFNXwzmWrSeMXjVaSX_6HfYNiIXxU",
    authDomain: "thegirlfriendbox-a277f.firebaseapp.com",
    databaseURL: "https://thegirlfriendbox-a277f.firebaseio.com",
    projectId: "thegirlfriendbox-a277f",
    storageBucket: "thegirlfriendbox-a277f.appspot.com",
    messagingSenderId: "28678379221",
    appId: "1:28678379221:web:21f5b5d8aa046992ac745c",
    measurementId: "G-6YK6D6YNHZ"
  };
  


  var data1="",count=0,dataz="";
data1+=  '<table id="table1" class="table"> <thead> <tr> <th scope="col">ID</th> <th scope="col">Name</th> <th scope="col">Followers</th> <th scope="col">Engagement Rate</th> <th scope="col">Email</th> </tr> </thead> <tbody >';
     firebase.initializeApp(firebaseConfig);

       var numbers;
       var cat;

     firebase.database().ref('data/').once('value').then(function(snapshot) {
     
     var data = snapshot.val();
     //console.log(data);
     var leng=Object.keys(data);
      //console.log(leng);
	    var list = leng.length;
      console.log(list);
     var i=0;
     snapshot.forEach(function(child){
      
        var name= child.val().name;
        var fname=child.val().followers;
        var lname=child.val().engagement_rate;
        var emi=child.val().email;
        count+=1;
        var idcount = "mycheck"+count;
        data1+='<tr>  <td>'+leng[i]+ '</td> <td>'+name+ '</td> <td>'+fname+ '</td> <td >'+lname+ '</td> <td >'+emi+ '</td> <td> <input type="checkbox" name="check-tab1"> </td> </tr>';
        i+=1;
        
      });
      data1+='</table>'
      //console.log(data1);
      $("#radioscontainer").append(data1);
});



var arrz=[];arrx=[];
/*
var rootRef = firebase.database().ref();
                              var urlRef = rootRef.child('data/');
                              urlRef.once("value", function(snapshot) {

                                var data1 = snapshot.val();
                                
                                snapshot.forEach(function(child2) {
                                    arrz.push([child2.val().firstName, child2.val().lastName,child2.val().email]);
                                        
                                  });
                              });console.log(arrz);  */


    $( document ).ready(function() {

            $('#viewfile').click(function () {

                var rdr = new FileReader();
                rdr.onload = function (e) {
                  //get the rows into an array

                  var therows = e.target.result.split("\n");
                  //loop through the rows
                  for (var row = 0; row < therows.length; row++ ) {
                    //build a new table row
                    var newrow = "";
                    //get the columns into an array
                    var columns = therows[row].split(",");
                    //get number of columns
                    var colcount=columns.length;
                    console.log(colcount);

                  

                        console.log(columns[0]);
                        

                        var  name= columns[0];
                        var  followers= columns[1];
                        var  engagement_rate=columns[2];
                        var  tags= columns[3];
                        var  email= columns[4];
                        var  phone_no= columns[5];
                        var  addr1= columns[6];
                        var  addr2= columns[7];
                        var  city= columns[8];
                        var  pincode= columns[9];
                        var  barter= columns[10];
                        var  cost_VideoPost= columns[11];
                        var  cost_StaticPost= columns[12];
                        var  cost_Reel= columns[13];
                        var  cost_Story= columns[14];

                        console.log(arrz);

                        arrz.push([name,followers,engagement_rate,tags,email,phone_no,addr1,addr2,city,pincode,barter,cost_VideoPost,cost_StaticPost,cost_Reel,cost_Story]);
                        //console.log(arrz);
                 

                        var stringArray = arrz.map(JSON.stringify);
                          var uniqueStringArray = new Set(stringArray);
                          //console.log(uniqueStringArray);

                          //var uniqueArray = Array.from(uniqueStringArray);
                          //console.log(uniqueArray);
                          var uniqueArray = Array.from(uniqueStringArray, JSON.parse);
                          console.log(uniqueArray);

                        
                        
                     
          //console.log(arrz.length);
        
          }
          
          for(i=1;i<uniqueArray.length-1;i++)
          {
              
              var data={
                          
                            name: uniqueArray[i][0],
                            followers: uniqueArray[i][1],
                            engagement_rate: uniqueArray[i][2],
                            tags: uniqueArray[i][3],
                            email: uniqueArray[i][4],
                            phone_no: uniqueArray[i][5],
                            addr1: uniqueArray[i][6],
                            addr2: uniqueArray[i][7],
                            city: uniqueArray[i][8],
                            pincode: uniqueArray[i][9],
                            barter: uniqueArray[i][10],
                            cost_VideoPost: uniqueArray[i][11],
                            cost_StaticPost: uniqueArray[i][12],
                            cost_Reel: uniqueArray[i][13],
                            cost_Story: uniqueArray[i][14],
                        }
                        
                      //console.log(id1==="");
                      var newPostKey = firebase.database().ref().child('data').push().key;
                      console.log(data);
                      firebase.database().ref('data/'+ newPostKey).update(data);
          } 
          
          
          console.table(uniqueArray);
                }
                rdr.readAsText($("#inputfile")[0].files[0]);location.reload(0);
            });
        });



function adder()
{
                var table1 = document.getElementById("table1"),
                    table2 = document.getElementById("table2"),
                    checkboxes = document.getElementsByName("check-tab1");
              //console.log("Val1 = " + checkboxes.length);
                 for(var i = 0; i < checkboxes.length; i++)
                     if(checkboxes[i].checked)
                        {
                            // create new row and cells
                            
                            var newRow = table2.insertRow(table2.length),
                                cell1 = newRow.insertCell(0),
                                cell2 = newRow.insertCell(1),
                                cell3 = newRow.insertCell(2);
                                cell4 = newRow.insertCell(3);
                                cell5 = newRow.insertCell(4);
                                cell6 = newRow.insertCell(5);
                            // add values to the cells
                           
                            cell1.innerHTML = table1.rows[i+1].cells[0].innerHTML;
                            cell2.innerHTML = table1.rows[i+1].cells[1].innerHTML;
                            cell3.innerHTML = table1.rows[i+1].cells[2].innerHTML;
                            cell4.innerHTML = table1.rows[i+1].cells[3].innerHTML;
                            cell5.innerHTML = table1.rows[i+1].cells[4].innerHTML;
                            cell6.innerHTML = "<input type='checkbox' name='check-tab2'>";
                           
                            // remove the transfered rows from the first table [table1]
                            var index = table1.rows[i+1].rowIndex;
                            table1.deleteRow(index);
                            // we have deleted some rows so the checkboxes.length have changed
                            // so we have to decrement the value of i
                            i--;
                           console.log(checkboxes.length);
                        }
            
}

function remove()
            {
                var table1 = document.getElementById("table1"),
                    table2 = document.getElementById("table2"),
                    checkboxes = document.getElementsByName("check-tab2");
            console.log("Val1 = " + checkboxes.length);
                 for(var i = 0; i < checkboxes.length; i++)
                     if(checkboxes[i].checked)
                        {
                            // create new row and cells
                            var newRow = table1.insertRow(table1.length),
                                cell1 = newRow.insertCell(0),
                                cell2 = newRow.insertCell(1),
                                cell3 = newRow.insertCell(2),
                                cell4 = newRow.insertCell(3),
                                cell5 = newRow.insertCell(4);
                                cell6 = newRow.insertCell(5);
                            // add values to the cells
                            cell1.innerHTML = table2.rows[i+1].cells[0].innerHTML;
                            cell2.innerHTML = table2.rows[i+1].cells[1].innerHTML;
                            cell3.innerHTML = table2.rows[i+1].cells[2].innerHTML;
                            cell4.innerHTML = table2.rows[i+1].cells[3].innerHTML;
                            cell5.innerHTML = table2.rows[i+1].cells[4].innerHTML;
                            cell6.innerHTML = "<input type='checkbox' name='check-tab1'>";
                           
                            // remove the transfered rows from the second table [table2]
                            var index = table2.rows[i+1].rowIndex;
                            table2.deleteRow(index);
                            // we have deleted some rows so the checkboxes.length have changed
                            // so we have to decrement the value of i
                            i--;
                           console.log(checkboxes.length);
                        }
            }

var dataz="",carez=[],cell1="",cell2="",cell3="",name1="",data="",k="";
var darez=[];
function sender()
{

  var table2 = document.getElementById("table2"),
                    checkboxes = document.getElementsByName("check-tab2");
                    //console.log(table2);
            //console.log("Val1 = " + checkboxes.length);
                 for(var i = 0; i < checkboxes.length; i++)
                  {
                            
                            
                            //console.log(typeof(cell1));
                            cell1 = table2.rows[i+1].cells[0].innerHTML;
                            cell2 = table2.rows[i+1].cells[1].innerHTML;
                            cell3 = table2.rows[i+1].cells[2].innerHTML;
                            cell4 = table2.rows[i+1].cells[3].innerHTML;
                            //cell1.trim();
                         
                            console.log(cell3);


                            dataz+=cell1+"  ";dataz+=cell2+"   ";dataz+=cell3+"  ";dataz+=cell4;
                            carez.push([cell1,cell2,cell3,cell4]);
                            

                            //var index = table2.rows[i+1].rowIndex;
                            
                           
                           //console.log(index);
                  }console.log(dataz);console.table(carez);
                  

       var numbers;
       var cat;
       
        firebase.database().ref('Clients/').once('value').then(function(snapshot) {
       data = snapshot.val();
       cat=Object.keys(data);

          
      var i=0;
       for (i = 0 ; i<cat.length; i++)
       {
          //console.log(cat[i]);
          firebase.database().ref('Clients/'+cat[i]).once('value').then(function(snapshot) {
            data = snapshot.val();
            
            
		         a = snapshot.val().name;
             b = snapshot.val().emailId;
             //console.log(a);
             var name="<option value="+a+">"+a+"</option>";
             $("#list").append(name);
            

          });

       }

      });
      console.table(darez);

}


function Alert()
{
  var newPostKey = firebase.database().ref().child('Proposals/').push().key;
  document.getElementById("addQuantity").addEventListener('submit', (event) => {
        event.preventDefault();
        var name1 = document.getElementById('list').value;


        firebase.database().ref('Clients/').once('value').then(function(snapshot) {
       
       var data = snapshot.val();
       
       snapshot.forEach(function(child){
        
          var name= child.val().name;
          if(name == name1)
          {
            //console.log("--------------------"+child.key);
            //console.log(firebase.auth().currentUser.email);
            firebase.database().ref('Proposals/'+newPostKey).update({ receiverId:child.key});
            firebase.database().ref('Proposals/'+newPostKey).update({ senderId:localStorage.getItem("Uid")});
            var dt = new Date();
            var utcDate = dt.toUTCString();
            
            //Print results
            //console.log(utcDate);
            firebase.database().ref('Proposals/'+newPostKey).update({ timestamp:utcDate});
          }
          
        });

  });

});

  me(carez,newPostKey);   
  console.table(carez); 

  var darez=[];
  /*
  firebase.database().ref('data/').once('value').then(function(snapshot) {
                                
                                data = snapshot.val();
                                for (let i = 0; i < carez.length; i++) {  
                                        var cell3 = carez[i][2];
                                        console.log(cell3);

                                snapshot.forEach(function(child){
                                    
                                    name1 = child.val().email;
                                    //console.log(name1+"=="+cell3);
                                    
                                          if(name1 == cell3)
                                          {
                                              //console.log(name1);
                                              console.log(child.key);
                                              k = child.key;
                                              darez.push([k]);
                                              //console.table(darez);
                                              //firebase.database().ref('Proposals/'+newPostKey).update({ k });
                                              

                                          }
                                     
                                });
                              }me(darez,newPostKey);
                            });

  console.table(darez); */

    
}



var v=[],n1="";
function me(v,n1)
{
    console.table(v);
    console.log(n1);
    var newPostKey1 = firebase.database().ref().child('Proposals').push().key;
    for (let i = 0; i < carez.length; i++) {
      
        firebase.database().ref('Proposals/'+n1+'/'+newPostKey1+'/'+carez[i][0]).update({  name:carez[i][1],followers:carez[i][2],
         engagement_rate: carez[i][3]});
         
    }
    location.reload();
    
}

</script>


</body>
</html>
