<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>import</title>
    

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  

    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-analytics.js"></script>
  </head>

  <body>
    
<nav class="navbar navbar-inverse  navbar-static-top example-8">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar8" aria-label="Toggle navigation" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand text-hide" href="#">Brand Text
      </a>
    </div>
    <div id="navbar8" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class=""><a href="/campaigns">CAMPAIGNS</a></li>
        
        <li class=""><a href="/sessionLogout">LOGOUT</a></li>
        
        
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
  <!--/.container-fluid -->
</nav>

<div class="container panel panel-info"> SenderID: w64ihy1sjbgYRloUnx2OgZKQlOA2<input class="btn btn-primary" type="button" value="Open Curtain" data-toggle="collapse" data-target="#collapseExample"></input>

<div class="collapse" id="collapseExample1">
  <div class="card card-body">
    <table id="table2" style="border: 1px solid black;" class="table"> <thead><tr> <tr> <th scope="col">Email</th> <th scope="col">FName</th> <th scope="col">LName</th> <th scope="col">Selection</th> </tr> </thead> <tbody> <tr> <td>mary@bogusemail.com</td> <td>Mary</td> <td >Patterson</td> <td> <input type="checkbox" name="check-tab1"> </td> </tr> <tr> <td>jane@bogusemail.com</td> <td>Jane</td> <td >Stuart</td> <td> <input type="checkbox" name="check-tab1"> </td> </tr> </table>
  </div>
</div>

</div>


<div class="container panel panel-info"> SenderID: oLf2vc12HcdB8QxIQS24Uo1jeoL2<input class="btn btn-primary" type="button" value="Open Curtain" data-toggle="collapse" data-target="#collapseExample2"></input></div>


<div class="container panel panel-info"> SenderID: w64ihy1sjbgYRloUnx2OgZKQlOA2<input type="button" class="btn btn-primary" value="collapse" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"/>


<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <table id="table2" style="border: 1px solid black;" class="table"> <thead><tr> <tr> <th scope="col">Email</th> <th scope="col">FName</th> <th scope="col">LName</th> <th scope="col">Selection</th> </tr> </thead> <tbody> <tr> <td>mary@bogusemail.com</td> <td>Mary</td> <td >Patterson</td> <td> <input type="checkbox" name="check-tab1"> </td> </tr> <tr> <td>jane@bogusemail.com</td> <td>Jane</td> <td >Stuart</td> <td> <input type="checkbox" name="check-tab1"> </td> </tr> </table>
  </div>
</div>



</body>
</html>